@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #161b24;
    --blue: #1964ee;
    --red: #da5015;
    --green: #3fff21;
}

body,
button,
input {
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    background: var(--dark);
}

h1 {
    margin: 0 auto;
    font-size: 4.7rem;
    grid-area: header;
}

.container {
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        'header header header'
        'player-one gameboard player-two'
        'results results results';
    row-gap: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* player selection form */
#player-selection {
    width: 100vw;
    height: 340px;
    font-size: 2.5rem;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    position: relative;
}

#player-selection fieldset {
    border: none;
}

.player-type {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.player-type i {
    font-size: 3rem;
    cursor: pointer;
}

.player-type label {
    color: gray;
}

input[type='radio'] {
    display: none;
}

input[name='player-one-type']:checked + label,
#player-one-selection p {
    color: var(--blue);
}

input[name='player-two-type']:checked + label,
#player-two-selection p {
    color: var(--red);
}

input[type='text'] {
    appearance: none;
    width: 370px;
    margin: 20px 0;
    padding: 10px 5px;
    font-size: 2rem;
    color: white;
    background: var(--dark);
    border: none;
    border-bottom: 3px solid white;
}

input[type='text']:focus {
    outline: none;
}

#gameboard {
    width: 400px;
    height: 400px;
    font-size: 6rem;
    border: 3px solid white;
    border-radius: 20px;
    display: none;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-self: center;
    grid-area: gameboard;
}

.cell {
    text-align: center;
    line-height: 110px;
    border: 2px solid white;
}

.cell.hover:hover {
    cursor: pointer;
    background: #202734;
}

.cell:first-child {
    border-radius: 15px 0 0 0;
}

.cell:nth-child(3) {
    border-radius: 0 15px 0 0;
}

.cell:nth-child(7) {
    border-radius: 0 0 0 15px;
}

.cell:last-child {
    border-radius: 0 0 15px 0;
}

.player {
    font-size: 4rem;
    border-radius: 15px;
    position: relative;
    display: none;
}

.player p {
    font-size: 2rem;
    color: white;
    position: absolute;
}

.player.one {
    color: var(--blue);
    border-color: white;
    grid-area: player-one;
}

.player.one .turn,
label[for='player-one-name'] {
    color: var(--blue);
}

.player.two {
    color: var(--red);
    grid-area: player-two;
}

.player.two .turn,
label[for='player-two-name'] {
    color: var(--red);
}

.name {
    margin-left: 10px;
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    vertical-align: 3px;
}

.health {
    margin: 20px auto;
    height: 55px;
    width: 240px;
    padding: 7px 5px;
    border: 4px solid white;
    border-radius: 8px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.health > div {
    background: white;
}

#results {
    height: 20px;
    margin: 0 auto;
    font-size: 2.8rem;
    display: flex;
    gap: 16px;
    grid-area: results;
}

#start-game-btn {
    padding: 12px 40px;
    font-size: 2.5rem;
    background: var(--dark);
    border: 4px solid white;
    border-radius: 12px;
    cursor: pointer;
    transition: all 80ms ease-in;
    position: absolute;
    bottom: -50px;
}

#start-game-btn:hover {
    color: var(--dark);
    background: white;
}
