@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #161b24;
    --blue: #1964ee;
    --red: #da5015;
    --green: #81ff21;
}

body {
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: var(--dark);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 35px 0;
    font-size: 4.5rem;
}

#gameboard {
    margin: 60px 0;
    width: 400px;
    height: 400px;
    font-size: 6rem;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

#gameboard {
    border: 3px solid white;
    border-radius: 20px;
}

.cell {
    text-align: center;
    line-height: 110px;
    border: 2px solid white;
}

.cell.hover:hover {
    cursor: pointer;
    background: #202734;
}

.cell:first-child {
    border-radius: 15px 0 0 0;
}

.cell:nth-child(3) {
    border-radius: 0 15px 0 0;
}

.cell:nth-child(7) {
    border-radius: 0 0 0 15px;
}

.cell:last-child {
    border-radius: 0 0 15px 0;
}

#players,
#players > div {
    font-size: 4rem;
    display: flex;
    align-items: center;
    gap: 40px;
}

#players > div {
    flex-direction: column;
    gap: 20px;
}

#players p {
    font-size: 3rem;
}

#player-one {
    color: var(--blue);
}

#player-two {
    color: var(--red);
}

.marker {
    font-family: 'Comic Neue', Arial, Helvetica, sans-serif;
    font-size: 3.3rem;
    vertical-align: 12px;
}

.health {
    height: 40px;
    width: 180px;
    padding: 5px 4px;
    border: 3px solid white;
    border-radius: 8px;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
}

.health > div {
    background: white;
}

#results {
    font-size: 3rem;
    display: flex;
    gap: 16px;
}
