@import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #161a22;
    --blue: #1964ee;
    --red: #da5015;
    --green: #3fff21;
}

body,
button,
input {
    font-family: "Darumadrop One", sans-serif;
    text-transform: uppercase;
    color: white;
    background: var(--background);
}

h1 {
    font-size: 4rem;
    text-align: center;
    grid-area: header;
}

.blue {
    color: var(--blue);
}

.red {
    color: var(--red);
}

.game-container,
.start-menu {
    display: grid;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-container {
    width: 100vw;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas:
        "header header header"
        "player-one gameboard player-two"
        "results results results";
    row-gap: 40px;
}

.start-menu {
    font-size: 2.5rem;
    grid-template: repeat(3, 1fr) / 1fr auto 1fr;
    align-items: center;
    gap: 50px;
}

.start-menu h1 {
    grid-row: 1;
    grid-column: 1 / span 3;
}

.start-menu > p {
    font-size: 2rem;
}

/* player selection */
[class$="-select"] {
    display: flex;
    gap: 12px;
}

.player-type-select {
    border: none;
}

.player-type-select i {
    margin: 0;
}

.player-name-select span:focus {
    outline: none;
}

.player-type-select input[type="radio"] {
    display: none;
}

.player-type-select input[type="radio"]:checked + label {
    opacity: 1;
}

.player-type-select label {
    opacity: 0.4;
    cursor: pointer;
}

.player-type-select label:hover {
    opacity: 1;
}

.player-type-select input[name="player-one-type"]:checked + label {
    color: var(--blue);
}

.player-type-select input[name="player-two-type"]:checked + label {
    color: var(--red);
}

.player-type-select i {
    font-size: 3rem;
}

/* game control buttons */
[id$="-btn"] {
    padding: 5px 35px 13px;
    font-size: 2.3rem;
    background: var(--bckgrnd);
    border: 5px solid white;
    border-radius: 15px;
    grid-column: span 2;
    cursor: pointer;
    transition: all 70ms ease-in;
}

[id$="-btn"]:hover {
    color: var(--background);
    background: white;
}

[id$="-btn"] i {
    margin-right: 12px;
    vertical-align: -3px;
}

#start-game-btn {
    width: 350px;
    height: 100px;
    grid-column: 1 / span 3;
    justify-self: center;
}

#round-end-btns {
    display: flex;
    grid-area: results;
    gap: 50px;
    position: absolute;
    top: 10px;
}

/* game board */
#game-board {
    width: 420px;
    height: 420px;
    border: 3px solid white;
    border-radius: 20px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    align-self: center;
    grid-area: gameboard;
}

.cell {
    font-size: 5.2rem;
    text-align: center;
    padding-bottom: 11px;
    border: 3px solid white;
}

.cell:enabled:empty {
    cursor: pointer;
}

.cell:enabled:empty:hover::after {
    /* show current player's marker on empty cell hover */
    content: attr(player-marker);
    opacity: 0.4;
}

.cell:first-child {
    border-radius: 15px 0 0 0;
}

.cell:nth-child(3) {
    border-radius: 0 15px 0 0;
}

.cell:nth-child(7) {
    border-radius: 0 0 0 15px;
}

.cell:last-child {
    border-radius: 0 0 15px 0;
}

/* players */
.player {
    font-size: 4rem;
    border-radius: 15px;
    position: relative;
    display: block;
}

#player-one {
    grid-area: player-one;
}

#player-two {
    grid-area: player-two;
}

.name {
    font-family: "Darumadrop One", sans-serif;
    font-size: 2.8rem;
    vertical-align: 3px;
    display: inline;
}

.turn {
    font-size: 2rem;
    color: white;
    position: absolute;
}

/* health bars */
.health-bar {
    margin: 20px auto;
    height: 55px;
    width: 240px;
    padding: 7px 5px;
    border: 4px solid white;
    border-radius: 8px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.health-bar > div {
    background: white;
}

.health-bar > div.health-loss {
    background: red;
}

/* game/round results */
#game-results {
    height: 20px;
    font-size: 2.8rem;
    display: flex;
    gap: 16px;
    grid-area: results;
}

#game-results i {
    margin-right: 10px;
}

.game-over {
    color: var(--green);
}

/* hidden elements toggle */
.hidden {
    display: none;
}
